$span: 30;
$maxTotalCells: $span * $span;

.CrosswordWrapper {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --deadCellColor: #000;
  --borderColor: #aaa;
  --highlight: rgb(255, 234, 217);
  --darkHighlight: rgb(73, 73, 73);
  --cellSize: 40px;
  // --span: 15;
  // --totalCells: calc(15 * 15);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.Wrapper {
  // max-width: calc(var(--span) * var(--cellSize));
  margin: auto;
}

.Crossword {
  position: relative;
}

.Row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cell {
  width: var(--cellSize);
  height: var(--cellSize);
  outline: 1px solid var(--borderColor);
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  caret-color: transparent;
  background-color: #fff;
  cursor: pointer;
}

.cell--active:focus {
  background-color: var(--highlight);
}

.cell--active {
  background-color: #eee;
}

.cell--live {
  background-color: #fff;
}

.cell--inSelectedRowOrColumn {
  background-color: #eafffb;
}

.cell--dead {
  background-color: #000;
  cursor: default;
}

.cell:focus {
  background-color: rgb(203, 255, 253);
}

.cell::selection {
  background-color: transparent;
}

.cellWrapper {
  display: inline-block;
  position: relative;
}

.displayNumber {
  position: absolute;
  left: 2px;
  top: 1px;
  font-size: 12px;
  color: #555;
}
