$span: 5;
$totalCells: $span * $span;

.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --deadCellColor: #000;
  --borderColor: #888;
  --highlight: rgb(255, 234, 217);
  --darkHighlight: rgb(73, 73, 73);
  --cellSize: 32px;
  --span: 5;
  --totalCells: calc(5 * 5);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.Wrapper {
  max-width: calc(var(--span) * var(--cellSize));
  margin: auto;
}

.Crossword {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Crossword--pattern .cell {
  cursor: pointer;
}

.Crossword--pattern .cell--inactive:focus {
  background-color: var(--deadCellColor);
  color: currentColor;
}

.cell {
  width: 32px;
  height: 32px;
  outline: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.cell--active:focus {
  background-color: var(--highlight);
}

.cell--inactive:focus {
  background-color: var(--darkHighlight);
  color: var(--darkHighlight);
}

.cell--active {
  background-color: #fff;
}

.cell--inactive {
  background-color: var(--deadCellColor);
}

.cellWrapper {
  display: inline-block;
  outline: 1px solid var(--borderColor);
  position: relative;
}

.cellWrapper--numbered::before {
  position: absolute;
}

@for $i from 1 through $totalCells {
  .cellWrapper--number-#{$i}::before {
    content: "#{$i}";
  }
}
