.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --deadCellColor: #000;
  --borderColor: #888;
  --highlight: rgb(255, 234, 217);
  --darkHighlight: rgb(73, 73, 73);
  --cellSize: 32px;
  --gridSize: 5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.Wrapper {
  max-width: calc(var(--gridSize) * var(--cellSize));
  margin: auto;
}

.Crossword {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Crossword--pattern .cell {
  cursor: pointer;
}

.Crossword--pattern .cell--inactive:focus {
  background-color: var(--deadCellColor);
  color: currentColor;
}

.cell {
  width: 32px;
  height: 32px;
  outline: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.cell--active:focus {
  background-color: var(--highlight);
}

.cell--inactive:focus {
  background-color: var(--darkHighlight);
  color: var(--darkHighlight);
}

.cell--active {
  background-color: #fff;
}

.cell--inactive {
  background-color: var(--deadCellColor);
}

.cellWrapper {
  display: inline-block;
  outline: 1px solid var(--borderColor);
  position: relative;
}

.cellWrapper--numbered::before {
  position: absolute;
}

.cellWrapper--number-1::before {
  content: "1";
}
.cellWrapper--number-2::before {
  content: "2";
}
.cellWrapper--number-3::before {
  content: "3";
}
.cellWrapper--number-4::before {
  content: "4";
}
.cellWrapper--number-5::before {
  content: "5";
}
